{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Doughsy</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
{% endblock meta %}

{% block content %}
<div class="bg-gray-50 min-h-screen font-sans">
    {% include 'navbar.html' %}

    <!-- Hero Section -->
    <section class="relative h-screen">
        <img src="{% static 'images/donutlanding3.png' %}" alt="Delicious Donuts" class="w-full h-full object-cover">
    </section>

    <!-- About the Kitchen Section -->
    {% include 'card_info.html' %}

    <!-- Featured Donuts Section -->
    <section id="featured-donuts" class="py-16 bg-[#FFF1D3]">
        <div class="container mx-auto px-4">
          <div class="text-center mb-8">
            <h1 class="text-4xl font-bold">Here’s a quick glance at your ordered donuts</h1>
            <p class="text-xl text-gray-600 mt-2">Craving for more? Add new ones anytime!</p>
          </div>
            
            {% if donut_entries %}
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-6">
                    {% for donut in donut_entries %}
                        <div class="p-0 m-0 w-full">
                            {% include 'card_donut.html' with donut=donut %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="flex flex-col items-center">
                    <img src="{% static 'images/no-donuts.png' %}" alt="No Donuts" class="h-15 w-10 mb-4"/> <!-- Pastikan path gambar benar -->
                    <p class="text-center text-gray-500 text-lg">You don't have any donuts yet.</p>
                </div>
            {% endif %}
            
            <div class="text-center bg-[#FFF1D3]  mt-12">
                <a href="{% url 'main:create_product_entry' %}" class="bg-[#CE1B5A] text-white py-3 px-8 rounded-full text-lg font-semibold hover:bg-pink-600 transition duration-300">Add New Donut</a>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
